data/GSE207422/*.txt.gz
data/GSE207422/*.npz
data/GSE241934/*.mtx.gz
data/GSE241934/*_Meta.txt.gz
data/GSE241934/*barcodes.tsv.gz
data/GSE241934/*features.tsv.gz
data/GSE241934/extracted_*.npz
data/GSE253013/*.rds
data/GSE253013/*.rds.gz
**/__pycache__/
*.pyc
.ipynb_checkpoints/
